    {% extends "tienda/base.html" %}
    {% block title %}Shami Store - Graficas{% endblock %}
    {% load static %}
    {% block content %}
    <div class="container mt-4">
        <div class="row">
            {% for producto in Graficas %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static producto.SrcImagen %}" class="card-img-top" alt="{{ producto.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">ID Producto: {{producto.id}} </p>
                        <p class="card-text">Precio: ${{ producto.precio|floatformat:"g" }} CLP</p>
                        <p class="card-text">Precio: ${{ producto.precioDolar }} USD</p>
                        <button type="button" class="btn btn-primary" onclick="agregarAlCarrito('{{ producto.id }}', '{{ producto.nombre }}', '{{ producto.precio }}', '{{ producto.precioDolar }}', '{{ producto.SrcImagen }}')">
                            Añadir al carrito
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}