{% extends "tienda/base.html" %}
{% block title %}Shami Store - Mouses{% endblock %}
{% load static %}
{% block content %}

    <div class="container mt-4">
        <div class="row">
            {% for producto in Mouses %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static producto.SrcImagen %}" class="card-img-top" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">ID Producto: {{producto.id}} </p>
                        {% if producto.stock > 0 %}
                        <p class="card-text">Stock: {{ producto.stock }}</p>
                        {% else %}
                        <p class="card-text">Producto Agotado</p>
                        {% endif %}
                        <p class="card-text">Precio: ${{ producto.precio|floatformat:"g" }} CLP</p>
                        
                        {% if producto.stock > 0 %}
                        <button type="button" class="btn btn-primary" onclick="agregarAlCarrito('{{ producto.id }}', '{{ producto.nombre }}', '{{ producto.precio }}', '{{ producto.precioDolar }}', '{{ producto.SrcImagen }}')">
                            Añadir al carrito
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-primary" disabled>
                            Añadir al carrito
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}