<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shami Store - Teclados</title>
    <link rel="stylesheet" href="{% static './css/styleindex.css' %}" />
    <link rel="icon" href="{% static './Images/Iconos/S.png' %}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg .bg-black justify-content-center">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static './Images/Iconos/S.png' %}" alt="LogoPagina"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">    
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                        <a class="nav-link" href="{% url 'procesadores' %}">Procesadores</a>
                        <a class="nav-link" href="{% url 'graficas' %}">Gráficas</a>
                        <a class="nav-link" href="{% url 'monitores' %}">Monitores</a>
                        <a class="nav-link" href="{% url 'teclados' %}">Teclados</a>
                        <a class="nav-link" href="{% url 'mouses' %}">Mouses</a>
                        <a class="nav-link carro" href="{% url 'carrito' %}"><img src="{% static './Images/Iconos/Fast Cart.png' %}" alt="Carrito"></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <div class="row">
            {% for producto in Teclados %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static producto.SrcImagen %}" class="card-img-top" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">ID Producto: {{producto.id}} </p>
                        <p class="card-text">Precio: ${{ producto.precio|floatformat:"g" }} CLP</p>
                        <p class="card-text">Precio: ${{ producto.precioDolar }} USD</p>
                        <button type="button" class="btn btn-primary" onclick="agregarAlCarrito('{{ producto.id }}', '{{ producto.nombre }}', '{{ producto.precio }}', '{{ producto.precioDolar }}', '{{ producto.SrcImagen }}')">
                            Añadir al carrito
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--<div class="container mt-4">
        <div class="row">
            
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="Imagenes/Productos/Trazer.png" class="card-img-top" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title">Razer BlackWidow V3</h5>
                        <p class="card-text">Precio CLP : $309.990 CLP</p>
                        <p class="card-text">Precio USD : $341 USD</p>
                        <button type="button" class="btn btn-primary" onclick="agregarAlCarrito('Razer BlackWidow V3', 309990, 'Trazer.png')">
                            Añadir al carrito
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="Imagenes/Productos/Tcorsair.png" class="card-img-top" alt="Producto 2">
                    <div class="card-body">
                        <h5 class="card-title">Corsair K100 RGB</h5>
                        <p class="card-text">Precio: $304.960 CLP</p>
                        <p class="card-text">Precio: $335 USD</p>
                        <button type="button" class="btn btn-primary" onclick="agregarAlCarrito('Corsair K100 RGB', 304960, 'Tcorsair.png')">
                            Añadir al carrito
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="Imagenes/Productos/Trazer2.png" class="card-img-top" alt="Producto 3">
                    <div class="card-body">
                        <h5 class="card-title">Razer Huntsman V3 Pro</h5>
                        <p class="card-text">Precio: $269.990 CLP</p>
                        <p class="card-text">Precio: $297 USD</p>
                        <button type="button" class="btn btn-primary" onclick="agregarAlCarrito('Razer Huntsman V3 Pro', 269990, 'Trazer2.png')">
                            Añadir al carrito
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="Imagenes/Productos/Tasus.png" class="card-img-top" alt="Producto 4">
                    <div class="card-body">
                        <h5 class="card-title">ASUS ROG Strix Scope</h5>
                        <p class="card-text">Precio: $239.000 CLP</p>
                        <p class="card-text">Precio: $263 USD</p>
                        <button type="button" class="btn btn-primary" onclick="agregarAlCarrito('ASUS ROG Strix Scope', 239000, 'Tasus.png')">
                            Añadir al carrito
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="Imagenes/Productos/Tlogi.png" class="card-img-top" alt="Producto 5">
                    <div class="card-body">
                        <h5 class="card-title">Logitech PRO X TKL</h5>
                        <p class="card-text">Precio: $209.990 CLP</p>
                        <p class="card-text">Precio: $231 USD</p>
                        <button type="button" class="btn btn-primary" onclick="agregarAlCarrito('Logitech PRO X TKL', 209990, 'Tlogi.png')">
                            Añadir al carrito
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="Imagenes/Productos/Tlogi2.png" class="card-img-top" alt="Producto 6">
                    <div class="card-body">
                        <h5 class="card-title">Logitech G915 TKL</h5>
                        <p class="card-text">Precio: $289.990 CLP</p>
                        <p class="card-text">Precio: $318 USD</p>
                        <button type="button" class="btn btn-primary" onclick="agregarAlCarrito('Logitech G915 TKL', 289990, 'Tlogi2.png')">
                            Añadir al carrito
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"> <img src="Imagenes/Iconos/Fast Cart.png" alt="Carrito">Carrito De Compras</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="texto-degradado2">Producto añadido al carrito correctamente</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir Comprando</button>
                    <a href="{% url 'carrito' %}"><button type="button" class="btn btn-primary">Ver Carrito</button></a>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="volver-arriba" id="volverArriba"><img src="{% static './Images/Iconos/ScrollUp.png'%}" alt="Volver Arriba"></a>

    <footer>
        <div class="container text-center">
            <img src="{% static './Images/Iconos/Logo.png'%}" alt="Shami Store" class="logo">
            <p class="footer-description">Descubre más sobre nuestra tienda y contáctanos en nuestras redes sociales:</p>
            <ul class="iconos-redes">
                <li><a href="#"><img src="{% static './Images/Iconos/LogoWhatsapp.png'%}" alt="Logo Whatsapp"></a></li>
                <li><a href="#"><img src="{% static './Images/Iconos/LogoInsta.png'%}" alt="Logo Instagram"></a></li>
                <li><a href="#"><img src="{% static './Images/Iconos/LogoTikTok.png'%}" alt="Logo Tiktok"></a></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'contacto' %}">Contacto</a></li>
                <li class="list-inline-item"><a href="{% url 'sobrenosotros' %}">Acerca de nosotros</a></li>
            </ul>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static './js/script.js' %}"></script>
    
</body>
</html>
